
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Status</th>
            @*<th></th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>


        @if (Lista != null)
        {
            foreach (var item in Lista)
            {
        <tr>

            <td>@item.Id</td>
            <th scope="row">@item.Nome</th>
            <th scope="row">@item.Cpf</th>
            <th scope="row">@item.Status</th>     
            <!--condição id status para ofertar-->
            @*<th> <button type="button" class="btn btn-secondary float-right" @onclick="@(()=>Ofertar.InvokeAsync(item))"> Ofertar</button></th>*@
            <th> <button type="button" class="btn btn-danger float-right"
                         @onclick="@(()=> navigation.NavigateTo($"/ListaClientes/EditarCliente/{item.IdClienteCifrado}"))"> Editar</button></th>
        </tr>
            }
        }


    </tbody>
</table>





@code {
    [Parameter]
    public List<ClienteListModelView> Lista  { get; set; }

    [Parameter]
    public EventCallback<ClienteListModelView> Ofertar { get; set; }



    [Inject]
    public NavigationManager navigation { get; set; }


}
